*{
    margin:0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
#gallery{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

}
.container{
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.container h1{
    margin:20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}
.photo{
    display:flex;
    flex-wrap: wrap;
  justify-content: space-between;
}
.card{
    width:32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.card img{
    width:100%;
    filter:grayscale(100%);
    box-shadow:  0 0 20px #333;
    height: 100%;
    object-fit: cover;
}
.card:hover{
    transform: scale(1.03);
    filter: drop-shadow( 0 0 10px #333);
    transition: 0.3s;
}
.card:hover img{
    filter:grayscale(0%);
}
.card figcaption{
position: absolute;
bottom: 0%;
left:0%;
height: 20%;
padding:15px;
width:100%;
margin: 10px;
font-size: 15px;
font-weight: 350;
color:#fff;
opacity:0;
border-radius: 0 0 10px 10px;
background: linear-gradient(0deg,rgba(0,0,0,0.5)0%);
transition: 0.3s;

}
.card:hover figcaption{
    opacity: 1;
    transform: scale(0.9);
}